@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  max-height: 100svh;
  width: 100svw;
  max-width: 100svw;
  background: #2f363e;
  overflow: hidden;
}

.container {
  position: relative;
  background: #2f363e;
  border-radius: 20px;
  border-top-left-radius: 225px;
  border-top-right-radius: 225px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.75),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100svw;
}

.clock {
  position: relative;
  width: min(450px, 450px);
  height: min(450px, 450px);
  background: #2f363e;
  border-radius: 50%;
  box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.clock::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #2f363e;
  border: 3px solid #fff;
  border-radius: 50%;
  z-index: 1000;
}

.clock span {
  position: absolute;
  inset: 20px;
  color: #fff;
  text-align: center;
  transform: rotate(calc(30deg * var(--i)));
}

.clock span b {
  font-size: clamp(1.1em, 2vw, 2em);
  opacity: 0.25;
  font-weight: 600;
  display: inline-block;
  transform: rotate(calc(-30deg * var(--i)));
}

.circle {
  position: absolute;
  width: 300px;
  height: 300px;
  max-width: 80%;
  max-height: 80%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
}

.circle i {
  position: absolute;
  width: 6px;
  height: 50%;
  background-color: var(--clr);
  opacity: 0.75;
  transform-origin: bottom;
  transform: scaleY(0.5);
}

.circle:nth-child(1) i {
  width: 2px;
}

.circle:nth-child(2) i {
  width: 6px;
}

.circle2 {
  width: 240px;
  height: 240px;
  max-width: 65%;
  max-height: 65%;
  z-index: 9;
}

.circle3 {
  width: 180px;
  height: 180px;
  max-width: 50%;
  max-height: 50%;
  z-index: 8;
}

.circle::before {
  content: "";
  position: absolute;
  top: -8.5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--clr);
  box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}

#time-dig {
  margin-bottom: 40px;
  display: flex;
  padding: 10px 20px;
  font-size: clamp(1em, 4vw, 2em);
  font-weight: 600;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

#time-dig div {
  position: relative;
  width: min(60px, 15vw);
  text-align: center;
  font-weight: 500;
  color: var(--clr);
}

#time-dig div:nth-child(1)::after,
#time-dig div:nth-child(2)::after {
  content: ":";
  position: absolute;
  right: -4px;
  top: -3px;
}

#time-dig div:last-child {
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#time-dig div:nth-child(2)::after {
  animation: animate 1s steps(1) infinite;
}

@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Media Queries for Extra Responsiveness */

@media screen and (max-height: 600px) {
  .clock {
    width: min(300px, 450px);
    height: min(300px, 450px);
  }

  #time-dig {
    margin-bottom: 20px;
    padding: 5px 10px;
  }

  .circle {
    width: 200px;
    height: 200px;
    max-width: 70%;
    max-height: 70%;
  }

  .circle2 {
    width: 140px;
    height: 140px;
    max-width: 55%;
    max-height: 55%;
  }

  .circle3 {
    width: 80px;
    height: 80px;
    max-width: 40%;
    max-height: 40%;
  }
}

@media screen and (max-width: 480px) {
  .clock span {
    inset: 10px;
  }

  #time-dig {
    margin-bottom: 20px;
    padding: 5px 10px;
  }

  .clock {
    width: min(270px, 270px);
    height: min(270px, 270px);
  }

  .circle {
    width: 200px;
    height: 200px;
    max-width: 70%;
    max-height: 70%;
  }

  .circle2 {
    width: 140px;
    height: 140px;
    max-width: 55%;
    max-height: 55%;
  }

  .circle3 {
    width: 80px;
    height: 80px;
    max-width: 40%;
    max-height: 40%;
  }

  #time-dig div {
    width: min(40px, 10vw);
  }
}

@media screen and (max-width: 360px) {
  .clock {
    width: min(210px, 210px);
    height: min(210px, 210px);
  }

  .circle {
    width: 200px;
    height: 200px;
    max-width: 60%;
    max-height: 60%;
  }

  .circle2 {
    width: 140px;
    height: 140px;
    max-width: 45%;
    max-height: 45%;
  }

  .circle3 {
    width: 80px;
    height: 80px;
    max-width: 30%;
    max-height: 30%;
  }
}
